@import "../../theme/index.scss";

.join-outer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: $background-gradient;
  .join-inner-container {
    width: 20%;
    .heading {
      color: $white;
      font-size: 2em;
      padding-bottom: 5px;
      border-bottom: 2px solid $light-gray;
      &:hover {
        text-indent: 2px;
        font-size: 2.05em;
        border-bottom: 2px solid transparent;
      }
    }
    .join-input {
      border-radius: 5px;
      padding: 15px 20px;
      width: 100%;
      outline: none;
      color: $light-gray;
      &:hover,
      ::placeholder {
        text-indent: 2px;
        color: $light-gray;
      }
    }
    .btn {
      color: $white !important;
      font-weight: 600;
      font-size: 1.1em;
      text-transform: uppercase;
      text-decoration: none;
      background: $btn-color;
      padding: 15px 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
      &:hover {
        background-color: $btn-hover;
        padding: 16px;
      }
    }
    .mt-20 {
      margin-top: 20px;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .join-outer-container {
    height: 100%;
    .join-inner-container {
      width: 90%;
    }
  }
}
