@import "../../theme/index.scss";

.info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blue;
  height: 60px;
  width: 100%;
  border-radius: $border-radius;
  .left-inner-container {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
    .online-icon {
      margin-right: 5%;
    }
  }
  .right-inner-container {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
  }
}
