@import "../../theme/index.scss";

.form {
  display: flex;
  flex-direction: row;
  border-top: 2px solid $dark-gray;
  border-radius: 5px;
  height: 15%;
  .chat-input {
    padding: 5%;
    width: 70%;
    border-radius: none;
    font-size: 1.2em;
    .chat-input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }
  }
  .send-btn {
    color: $white !important;
    border-radius: none;
    padding: 5px;
    font-size: 0.6em;
    display: inline-block;
    border: none;
    width: 30%;
  }
}
