// Colors
$dark: #213042;
$light: #f2f2fa;
$white: #ffffff;
$light-gray: #f2f2f2;
$dark-gray: #bbb;
$btn-color: #2979ff;
$btn-hover: #2979ee;

$background-gradient: linear-gradient(to right, #232526, #414345);

// Font Weights
$font-weight-thin: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
